<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.dao.DAO">

	<select id="count" resultType="int">
		select count(*) from bbs
	</select>
	<select id="selectlist1" resultType="VO">
		select * from bbs
	</select>
	
	<select id="selectlist2" resultType="VO">
		select * from bbs limit 15
	</select>
	
	<select id="selectlist3" parameterType="pageVO" resultType="VO">
		select * from bbs limit #{start}, 15
	</select>
	
	<select id="selectBBSList" resultType="VO">
		select id, category, title, owner, content,
		date_format(create_date, "%Y-%m-%d %T") create_date
		from bbs
		limit #{start}, #{cntPerPage}
	</select>
</mapper>